<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automation.day1.TesterDemo"/>
      <class name="com.test.day3.LoginTest"/>
      <class name="com.automation.day1.PreAssume"/>
      <class name="com.test.day2.LoginTest"/>
      <class name="com.automation.day1.Demo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
